@import '../../styles/variables';

.minion {
  position: absolute;
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.35));
  opacity: 1 !important;
  pointer-events: none;
  z-index: 999;
}

.minion1 {
  top: 50px;
  left: 0px;
  width: 480px !important;
  transform: rotate(-10deg);
}

.minion2 {
  top: 350px;
  right: 150px;
  width: 240px;
  transform: rotate(10deg);
}

.minion3 {
  top: 20px;
  left: -160px;
  width: 330px;
  transform: rotate(5deg);
}

.minion4 {
  bottom: -40px;
  right: -80px;
  width: 240px;
  transform: rotate(-5deg);
  z-index: 1000;
}

.minion5 {
  bottom: 20px;
  right: -150px;
  width: 300px;
  transform: rotate(-8deg);
}

.minion6 {
  bottom: 0px;
  right: -150px;
  width: 280px;
  transform: rotate(8deg);
}

@media (max-width: 1024px) {
  .minion {
    width: 150px !important;
  }

  .minion1 {
    left: -50px;
    width: 180px !important;
  }

  .minion2 {
    right: -50px;
    width: 160px !important;
  }

  .minion3 {
    left: -60px;
    width: 200px !important;
  }

  .minion4 {
    right: -50px;
    width: 180px !important;
  }

  .minion5 {
    left: -100px;
    width: 150px !important;
  }

  .minion6 {
    right: -80px;
    width: 180px !important;
  }
}

@media (max-width: 768px) {
  .minion {
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.25));
  }

  .minion1 {
    top: 0;
    left: 20px;
    width: 280px !important;
  }

  .minion2 {
    top: 680px;
    right: 20px;
    width: 240px !important;
  }

  .minion3 {
    top: 60px;
    left: -40px;
  }

  .minion4 {
    bottom: 150px !important;
    left: 200px !important;
  }

  .minion5 {
    bottom: 30px;
    left: -20px;
  }

  .minion6 {
    bottom: 0px;
    right: -80px;
  }
}